

header input{
    display: none;
}



@media only screen and (max-width: 960px) {   
    
    body{
        overflow-x: hidden;
    }
    
    
    .menu{
        display: block;
        position: relative;
        top: 50px;
        right: 50px;
        z-index: 5;
        background: none;
    }
    
    .menu input{
        display: block;
        position: absolute;
        right: -13px;
        top: 0px;
        width: 50px;
        height: 34px;
        cursor: pointer;
        z-index: 20;
        opacity: 0;
    }
    
    .menu span{
        display: block;
        position: absolute;
        right: 8px;
        top: 0px;
        right: -7px;
        width: 37px;
        height: 5px;
        border-radius: 3px;
        background-color: #170ce8;
        z-index: 11;
        margin-bottom: 0px;
        transition: all .5s ease;
        transform-origin: 4px 0;
    }
    
    .menu span::after{
        content: "";
        position: absolute;
        top: 13px;
        width: 37px;
        height: 5px;
        border-radius: 3px;
        background-color: #170ce8;
        z-index: 11;
        margin-bottom: 5px;
        transition: .5s ease;
    }
    
    .section5 .card{
        width: 320px;
    }
    
    .section5 .card input{
        width: 295px;
    }
    
    
    /* tttt */
    
    
    .menu span:first-child{
        transform-origin: 0% 0%;
    }  
    .menu span:before{
        transform-origin: 0% 100%;
    }
    
    .menu input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-1px, -1px);
        background-color: #000000;
    }
    
    .menu input:checked ~ span:after{
        opacity: 0;
        transform: rotate(-45deg) translate(50px, -4px);
        background-color: #000000;
    }
    
    .menu input:checked ~ span:before{
        transform: rotate(-90deg) translate(10px, 20px);
        background-color: #000000;
    }
    
    /* ttt */
    
    
    .menu span::before{
        content: "";
        position: absolute;
        top: 26px;
        width: 37px;
        height: 5px;
        border-radius: 3px;
        background-color: #170ce8;
        z-index: 11;
        margin-bottom: 5px;
        transition: .5s ease;
    }
    
    
    
    
    #ulToggle{
        position: absolute;
        top: -22px;
        right: -110px;
        width: 960px;
        height: 670px;
        background-color: #ECF6FD;
        list-style: none;
        transform-origin: 0 0;
        transform: translate(0%, -100%);
        transition: .5s ease;
    }
    
    
    .menu ul{
        padding: 50px;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
  
    .menu li{
        text-align: center;
        width: 120px;
        padding: 10px 0;
        display: block;
        font-size: 15px;
        font-weight: bold;
        margin-right: 120px;
    }
    
    .menu li:hover{
        background-color: #42D897;
        color: #ffffff;
    }
    
    header .navBar li:hover{
        color: #ffffff;
    }
    
    .menu input:checked ~ #ulToggle{
        transform: none;
    }
    
    header .navBar .login li{
        color: #ffffff;
        background-color: #42D897;
        padding: 10px 15px;
        margin-top: 20px;
        width: 120px;
        margin-right: 120px;
    }
    
    
    
}

@media only screen and (max-width: 800px) {   
    
    .container {
        width: 90%;
    }
    
    body{
       position: static; 
    }
    
    
    /* section 1 */
    
    .section1{
        height: 700px;
    }
    
    .section1 .txt{
        margin-top: 30px;    
       }
       
       .section1 img{
        width: 100%;
        height: 300px;
    }
    
    /* section 2 */
    
    .section2{
        background-color: #F9F8FF;
        height: 300px;
    }
    
    .section2 .partners, .border{
        display: none;
    }
    
    
    .section2 .txt{
        text-align: center;
    }

    .section2 .txt a{
        display: inline-block;
        background-color: #EBE7FF;
        padding: 5px 15px;
        color: #5B41D7;
        font-size: 15px;
        font-weight: bold;
        border-radius: 7px;
        margin: 15px;
    }

    .section2 .txt h3{
        color: #13287E;
        font-size: 25px;
    }

    .section2 .txt p{
        color: rgba(106, 102, 102, 0.755);
        width: 60%;
        margin: 15px auto;
    }
    
    /* section 3 */
    
    .section3{
        height: 940px;
    }
    
    .section3 .cards{
        margin-top: 50px;
        display: block;
        width: 100%;
    }
    
    .section3 .card{
        width: 100%;
        margin: 15px 5px;
    }
    
    
    
    
    /* section 4 */
    
    .section4{
        height: 760px;
        padding-top: 15px;
    }
    
    .section4 .box .txt{
        margin-top: 20px;
    }
    
    .hide{
        display: none;
    }
    
    .mm2{
        margin-top: 30px;
        display: block;
    }
    

    
    
    
    
    
    /* section 5 */
    .section5{
        height: 800px;
        padding-top: 10px;
    }
    
    .section5 .box{
        display: flex;
        flex-flow: wrap row;
    }
    
    .section5 .image{
        width: 100%;
    }
    
    .section5 .image img{
        width: 100%;
        margin-left: 20px;
    }
    
    
    
    /* section 6 */
    
    .section6{
        display: block;
        height: 1620px;
    }
    
    .section6 .cards{
        display: flex;
        flex-flow: wrap row;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .section6 .cards .card{
        margin-bottom: 40px;
    }
    
    .section6 .txt{
        padding-top: 60px;
    }
    
    .section6 .bgimg{
        width: 120px;
        top: 230px;
    }
    
    
    /* section 7 */
    
    .section7{
        display: block;
        height: 800px;
    }
    
    .section7 .boxes{
        margin-top: 50px;
        width: 100%;
    }
    
    .section7 .boxes .box{
        width: 100%;
    }
    
    
    
    /* section 8 */
    
    .section8{
        display: block;
        height: 1450px;
    }
    
    .section8 .boxes{
        padding-top: 0px;
        margin-top: 0;
    }
    
    .section8 .box{
        margin-top: 40px;
    }
    
  
    
    /* footer section */
    
    .footerSection{
        display: block;
        height: 1860px;
        background-size: cover;
    }
    
    .footerSection .cards{
        display: flex;
        flex-flow: row wrap;
        margin-left: 20px;
        width: 100%;
        margin-top: 60px;
    }
    
    .footerSection .cards .pdng{
        margin-top: 30px;
    }
   
    .footerSection .block{
        height: 190px;
    }
    
    .footerSection .block .inner{
        height: 190px;
        position: relative;
        top: -90px;
        right: -25px;
        
    }
    
    .footerSection .block .inner .txt{
        width: 100%;
        text-align: center;
    }
    
    .footerSection .block .inner .txt h3{
        margin-left: 40px;
    }
    
    .footerSection .block .inner .button a{
        display: inline-block;
        margin-top: 80px;
        margin-right: 130px;
    }
    
    .footer{
        margin-top: 60px;
    }
    
    .ppd{
        padding-top: 30px;
    }
    
    .footer .footerTxt2 p{
    
        margin-left: 0;
  
    }
    
    .footerSection .topButton .top{
        margin-right: -60px;
        font-size: 15px;
    }
    
}