* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "PR" sans-serif;
}

@font-face{
    font-family: "PB";
    src: url("../font/Poppins-Bold.ttf");
}
@font-face{
    font-family: "PL";
    src: url("../font/Poppins-Light.ttf");
}
@font-face{
    font-family: "PM";
    src: url("../font/Poppins-Medium.ttf");
}
@font-face{
    font-family: "PR";
    src: url("../font/Poppins-Regular.ttf");
}

.row{
    display: flex;
    flex-flow: row wrap;
}

header{
    background-color: #F6F9FF;
    position: sticky;
    top: 0;
    z-index: 200;
}

header .container{
    padding: 15px 0;
    display: flex;
    align-items: center;
}

header .logo{
    align-items: center;
}

header .logo:hover{
    cursor: pointer;
}

header .logo img{
    width: 45px;
    margin-right: 5px;
}

header .logo h2{
    font-family: "PM";
    font-weight: 500;
    color: #4D4A4A;
}

header .navBar{
    position: relative;
}

header .navBar .menu{
display: flex;
position: absolute;
right: 20px;
top: -17px;
}

header .navBar ul{
    display: flex;
    margin-right: 40px;
}

header .navBar a{
    display: inline-block;
    padding: 10px;
    color: #4D4A4A;
    font-size: 15px;
    text-transform: uppercase;
    transition: .5s ease;
}

header .navBar a:hover{
    color: blue;
}

header .navBar .login li{
    color: #ffffff;
    background-color: #42D897;
    padding: 10px 15px;
    margin-top: -10px;
}

header .navBar .login li:hover{
    color: #ffffff;
    background-color: red;
}

/* section 1 */

.section1{
    background-color: #F6F9FF;
    height: 490px;
}

.section1 img{
    width: 100%;
    height: 490px;
}

.section1 .txt{
 margin-top: 110px;    
}

.section1 .txt span{
    display: inline-block;
    width: 30px;
    border: 2px solid #5D80FA;
    margin-bottom: 3px;
}


.section1 .txt h4{
    color: #8D73FF;
    font-weight: 600;
}
.section1 .txt h1{
    font-size: 40px;
    color: #1F2471;
    margin: 22px 0;
}

.section1 .txt p{
    width: 80%;
    color: #818283;
}

.section1 .txt a{
    display: inline-block;
    margin-top: 27px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #896EFF;
    font-size: 9px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 10px;
    margin-right: 10px;
}

/* section2 */

.section2{
    padding-top: 70px;
    background-color: #F9F8FF;
    height: 400px;
    border-top: 1px solid rgba(0, 0, 0, 0.124);
}

.section2 .partners{
    text-align: center;
}

.section2 .partners img{
    width: 120px;
    margin: 0 30px;
}

.section2 .border{
    text-align: center;
}

.section2 .border span{
    display: inline-block;
    width: 50px;
    border-top: 4px solid rgba(238, 7, 7, 0.823);
    margin: 50px 0;
}

.section2 .txt{
    text-align: center;
}

.section2 .txt a{
    display: inline-block;
    background-color: #EBE7FF;
    padding: 5px 15px;
    color: #5B41D7;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    margin: 15px;
}

.section2 .txt h3{
    color: #13287E;
    font-size: 25px;
}

.section2 .txt p{
    color: rgba(106, 102, 102, 0.755);
    width: 40%;
    margin: 15px auto;
}

/* section 3 */

.section3 {
    height: 400px;
    background-color: #F9F8FF;
    
}

.section3 .cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.section3 .card {
    height: 260px;
    width: 280px;
    background-image: url("../img/core-img/cards-bg.png");
    background-size: cover;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px 10px #EBEAF1;
}

.section3 .card img{
    width: 25px;
    margin: 25px 0; 
}

.section3 .card h4{
    color: #1D3284;
    font-size: 17px;
    font-weight: bold;
    margin-top: -5px;
}

.section3 .card p{
    color: rgb(140, 139, 134);
    margin: 20px 0 20px 0;
    line-height: 25px;
}

/* section 4 */

.section4{
    height: 1250px;
    background-color: #F9F8FF;
}

.section4 .box{
    margin-top: 20px;
    height: 400px;
    width: 90%;
}

.section4 .box img{
    width: 100%;
}

.section4 .box .txt a{
    display: inline-block;
    background-color: #EBE7FF;
    padding: 5px 15px;
    color: #5B41D7;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    margin-bottom: 20px;
}

.section4 .box .txt h3{
    font-size: 30px;
    color: #1F2471;
}

.section4 .box .txt p{
    color: rgb(140, 139, 134);
    margin: 20px 0 20px 0;
    line-height: 25px;
}

.section4 .box .txt .button{
    display: inline-block;
    margin-top: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #896EFF;
    font-size: 9px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 10px;
}

.right{
    width: 100%;
    position: relative;
    right: -25px;
    top: 20px;
}

.section4 .box .txt3{
    padding-top: 20px;
}

/* section 5 */

.section5{
    height: 550px;
    background-image: url("../img/bg-img/trial-bg.png");
    background-size: cover;
}

.section5 img{
    width: 100%;
}

.section5 .box{
    margin-top: 70px;
    height: 400px;
    width: 90%;
}

.section5 .box .txt{
    margin-top: 50px;
}

.section5 .box .txt a{
    display: inline-block;
    background-color: #EBE7FF;
    padding: 5px 15px;
    color: #5B41D7;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    margin-bottom: 10px;
}

.section5 .box .txt h3{
    font-size: 30px;
    color: #ffffff;
}

.section5 .box .txt p{
    color: rgb(255, 255, 255);
    margin: 10px 0 10px 0;
    line-height: 25px;
}

.section5 .box .txt .button{
    display: inline-block;
    margin: 5px 0 0 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #896EFF;
    font-size: 9px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 10px;
}

.section5 .card{
    margin-top: 60px;
    width: 100%px;
    height: 120px;
    background-color: #A893FF;
    border-radius: 20px;
    position: relative;
}

.section5 .card input{
    width: 95%;
    margin: 25px 0 10px 12px;
    height: 28px;
    border-radius: 15px;
    outline: none;
    font-weight: 500;
    padding-left: 30px;
}

.section5 .card svg{
    position: absolute;
    top: 27px;
    left: 19px;
    width: 20px;
    opacity: .8;
}

/* section 6 */

.section6{
    height: 780px;
    background-color: #F9F8FF;
    position: relative;
}

.section6 .txt{
    text-align: center;
    padding-top: 50px;
}

.section6 .txt a{
    display: inline-block;
    background-color: #EBE7FF;
    padding: 5px 15px;
    color: #5B41D7;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    margin: 15px;
}

.section6 .txt h3{
    color: #13287E;
    font-size: 25px;
}

.section6 .txt p{
    color: rgba(106, 102, 102, 0.755);
    width: 40%;
    margin: 15px auto;
}


.section6 .cards{
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: space-around;
}

.section6 .card {
    height: 280px;
    width: 280px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px 10px #EBEAF1;
    text-align: center;
    z-index: 5;
}

.section6 .card img{
    width: 100%;
    margin: 25px 0; 
    padding-top: 3px;
}

.section6 .card h4{
    color: #121213;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.section6 .card p{
    color: rgb(140, 139, 134);
    margin: 8px 0 8px 0;
    line-height: 20px;
    font-size: 13px;
}


.bgimg{
    position: absolute;
    right: 2px;
    top: 150px;
    width: 210px;
    height: 210px;
}

/*  section 7 */

.section7{
    height: 515px;
    background-color: #F9F8FF;
    padding-top: 10px;
}

.section7 .img img{
    width: 100%;
}

.section7 .box{
    display: flex;
    align-items: center;
    width: 80%;
    height: 100px;
    box-shadow: 0 0 10px #5c586d43;
    margin-bottom: 60px;
}

.section7 .box img{
    width: 60px;
    margin: 0 15px;
}

.section7 .box h4{
    font-size: 15px;
    color: #0c0c0cd2;
    margin-bottom: 5px;
}

.section7 .box p{
    font-size: 13px;
    color: #858080;
    width: 80%;
}

/* section 8 */

.section8{
    background-color: #ECF6FD;
    height: 640px;
}

.section8 .txt{
    text-align: center;
    padding-top: 50px;
}

.section8 .txt a{
    display: inline-block;
    background-color: #EBE7FF;
    padding: 5px 15px;
    color: #5B41D7;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    margin: 15px;
}

.section8 .txt h3{
    color: #13287E;
    font-size: 25px;
}

.section8 .txt p{
    color: rgba(106, 102, 102, 0.755);
    width: 40%;
    margin: 15px auto;
}

.section8 .boxes{
    margin-top: 60px;
}

.section8 .box {
    height: 330px;
    text-align: center;
}

.section8 .box span{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 30px 0 10px 0;
    color: rgb(56, 55, 55);
}

.section8 .box h2{
    color: #3964F9;
    font-size: 28px;
}

.section8 .box p{
    font-size: 12px;
    color: rgb(114, 118, 118);
    line-height: 22px;
}

.section8 .box .time{
    margin: 15px 0 20px 0;
}

.section8 .box a{
    display: inline-block;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #896EFF;
    font-size: 7px;
    font-weight: bold;
    padding: 8px 35px;
    border-radius: 10px;
}

.section8 .shadow{
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(59, 71, 155, 0.46);
}

/* lastSection */

.footerSection{
    height: 1200px;
    background-image: url("../img/bg-img/footer-bg.png");
    background-color: #F9F8FF;
    padding-top: 80px;
    position: relative;
}

.footerSection .txt{
    text-align: center;
}

.footerSection .txt a{
    display: inline-block;
    background-color: #EBE7FF;
    padding: 5px 15px;
    color: #5B41D7;
    font-size: 12px;
    font-weight: bold;
    border-radius: 7px;
    margin: 15px;
}

.footerSection .txt h3{
    color: #13287E;
    font-size: 25px;
}

.footerSection .txt p{
    color: rgba(106, 102, 102, 0.755);
    width: 40%;
    margin: 15px auto;
}

.footerSection .cards{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.footerSection .card{
    background-color: #fff;
    width: 350px;
    height: 230px;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}

.footerSection .card img{
    width: 60px;
    border-radius: 50%;
    margin-top: 15px;
}

.footerSection .card h4 {
    color: rgba(36, 35, 35, 0.707);
}

.footerSection .card p{
    font-size: 12px;
    line-height: 20px;
    width: 80%;
    margin: 10px auto;
    color: rgb(119, 117, 117);
}

.footerSection .smallButtons{
    text-align: center;
}


.footerSection .smallButtons a{
    display: inline-block;
    margin: 50px 10px 30px 0;
    color: black;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    transition: .3s ease;
}

.footerSection .smallButtons a:hover,.footerSection .smallButtons a.active{
    background-color: #42D897;
    color: white;
}


.footerSection .block .inner{
    background-color: #4742F6;
    height: 130px;
    text-align: center;
    margin: 100px auto;
    width: 90%;
    position: relative;
}

.footerSection .block .txt{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footerSection .block h3{
color: rgb(187, 182, 182);
margin-top: 22px;
}

.footerSection .block h2{
    color: rgb(218, 210, 210);
    margin-top: 10px;
}


.footerSection .block .button a{
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: #FB585A;
    padding: 12px 22px;
    border-radius: 5px;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 50px;
}

/* footer */

.footer{
    margin: 0 auto;
    width: 90%;
}

.footer .logo{
    align-items: center;
}

.footer .logo:hover{
    cursor: pointer;
}

.footer .logo img{
    width: 45px;
    margin-right: 5px;
}

.footer .logo h2{
    font-family: "PM";
    font-weight: 500;
    color: #4D4A4A;
}

.footer .footerTxt1,.footerTxt2,.footerTxt3,.footerTxt4 p{
    font-size: 15px;
    color: #ffffff;
    line-height: 20px;
}

.footer .footerTxt2 p{
margin-left: 100px;
}

.bx{
    margin-top: 5px;
    padding: 4px;
    background-color: #42D897;
}

.bx:hover{
    cursor: pointer;
}


.footerSection .topButton .top{
    position: absolute;
    bottom: 90px;
    right: 30px;
    color: #000;
    font-weight: bold;
    transform: rotate(-90deg);
}

.footerSection .topButton span{
    display: inline-block;
    width: 30px;
    margin: 0 10px 4px 0;
    border-top: 3px solid #000;
    
}

